{% extends 'base.html.twig' %}

{% block title %}Game!{% endblock %}

{% block body %}
<style>
	.game {
		display: flex;
		flex-direction: row;
	}

	section.guesses {
		width: 20%;
		display: flex;
		flex-direction: column;
	}
	section.form {
		margin-top: 40px;
	}
	section {
		margin: 10px;
	}
</style>

<div class="game">
	<h1>Welcome {{ user.name }}</h1>
	<section class="guesses">
		<h2>Guesses</h2>
	 	{% for guess in game.guesses %}
	 	<span>{{ guess.value }} by {{ guess.user.name }}</span>
	 	{% endfor %}
	</section>
	<section class="users">
		<h2>Players</h2>
		{% for game_user in game.users %}
		<span>{{ game_user.name }}</span>
		{% endfor %}
	</section>
	<section class="form">
		{{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
	</section>
</div>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$('#guess_save').click(function(e){
		e.preventDefault();

		var guess  = $('#guess_number').val();
		var gameId = $('#guess_game').val();

		if (guess.length == 0) {
			//handle this error
		}
		
		$.post( "/guess", { guess: guess, game: gameId}).done(function(data) {
			var result = data.result;
			alert(result);
		});
	});
});
</script>
{% endblock %}
